*{
    width: auto;
    padding: auto;
    box-sizing: border-box;
}

.container{
   display: grid;
   align-items: center;
   justify-content: center;
   background-color: rgb(236, 234, 234);
 
   

}
.face{
    color: blue;
    font-weight: bolder;
    font-size: 3rem;
    font-style: inherit;
}
form{
   padding: 10px 10px;
   background: white;
   width: 70px 20px;
   margin: 10px;
   padding-top: 20px 20px;
   border-radius: 10px;
 
   
}
.password{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: auto;
   
   
}
button{
   
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.pass{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(72, 72, 179);
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 10px;

}
.log{
    background-color: blue;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    width: 200px;
}
.new{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgb(54, 196, 54);
    width: 90%;
}
img{
    width:100%;
    height: 10vh;
    padding-bottom: 10px;
  
}
@media(max-width: 400px){
    .container{
        width: 60px;
        margin: auto;
    }
}













